/* Головний фон сторінки #FFFFFF */
/* Головний колір тексту #212121 */
/* Другорядний колір тексту #757575 */
/* Фон футера #2F303A */
/* Фон секції послуги background: #2F303A; */

/* .............................................................................. */
  $main-page-bascground: #FFFFFF;
  $main-text-color: #212121;
  $secondary-text-color: #757575;
  $footer-bascground: #2F303A;
  $background-services: #2F303A;
  $font-weight-bold: 700;
  $font-weight-medium: 500;
  $font-weight-blask: 900;
