/* oсновні стилі */
@import "./variables";
@import "./basic-styles";
/* меню */
@import "./_menu.scss/rolu";
@import "./_menu.scss/futomaki";
@import "./_menu.scss/maki";
@import "./_menu.scss/hot-rolu";
@import "./_menu.scss/nigiri";
// головна
@import "./_golovna.scss/cap";
@import "./_napoy.scss/napoy";
@import "./_golovna.scss/footer";
@import "./_golovna.scss/info";
@import "./_sety.scss/sety";
@import "./_akzcii.scss/akzcii";
@import "./_korzina.scss/corzina";
@import "./_korzina.scss/form";


button {
    background-color: rgba(47, 48, 58, 0);
    border: none;
}
.btn__close-svg {
    fill: gold;
}
.none {
    display: none;
}
.node {
    display: block;
}
