.rolu__img {
    display: block;
    width: 130px;
    height: 130px;
}
.rolu__title {
    margin-bottom: 5px;
}
.rolu__list,
.maki-rolu__list,
.hot-rolu__list,
.futomaki-rolu__list,
.nigiri-rolu__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.nigiri-rolu__item,
.futomaki-rolu__item,
.hot-rolu__item,
.maki-rolu__item,
.rolu__item,
.sety__item {
    box-shadow: 0 0 5px 5px grey;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width: 150px;
    margin-top: 15px;
    @media screen and(max-width: 320px) {
        width: 130px;
    }
    & .image-switch__img.img {
    width: 150px;
    @media screen and(max-width: 320px) {
        width: 130px;
    }
}
}
.futomaki-rolu__text,
.hot-rolu__text {
    text-align: center;
}
