.sety__list-box {
    width: 50%;
}

.sety__box {
    width: 100%;
}

.sety__list {
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
    flex-wrap: wrap;

}

.sety__title {
    text-align: center;
}

.sety__title {

    position: absolute;
    font-size: 35px;
    font-family: "Oswald";
    align-items: center;
    margin: 45px 0;
    background-color: none;
}

.sety__boxs {
    display: flex;
    justify-content: center;
}

.sety__item {
    box-shadow: 0 0 5px 5px gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    @media screen and (min-width: 321px) {
        width: 150px;
    }
    justify-content: space-between;
}