.ackzc__title {
    text-align: center;
    align-items: center;
    margin-top: 10px;
    font-family: "Tapestry";
    background-color: #fcba03;
    padding: 2px;
    font-size: 17px;
    
}
.ackzc__box {
    width: 60%;
}
.ackzc__box-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ackzcs__title {
    text-align: center;
    align-items: center;
    margin-top: 20px;
    font-family: "Tapestry";
    background-color: #fcba03;
    padding: 2px;
    font-size: 17px;
}