
.container {
  text-align: center;
}

.footer__instnetwork {
  display: flex;
  flex-direction: column;
  align-items: center;

  
}
.address {
  margin: 10px 0;
}
.contacts__item:last-child {
  margin-top: 10px;
}
footer {
  border-top: 1px solid gold;
  margin-top: 20px;
  padding: 10px 0;

}

.footer__dostava {
  margin-bottom: 20px;
  padding-bottom: 10px;
  color: gainsboro;
  border-bottom: 1px solid gold;
}