
.info__title {
    padding: 10px 0;
    position: absolute;
    top: 250px;
    left: 50px;
    text-align: center;
    width: 70%;
    font-size: 30px;
    color: gold;
    background-color:   rgba(47, 48, 58, 0.4);
    border-radius: 20px;
    @media screen and (min-width: 375px) {
        top: 300px;
        left: 55px; 
    }
    @media screen and (min-width: 425px) {
        top: 350px;
        left: 65px; 
    }
    @media screen and (min-width: 768px) {
        
        font-size: 40px;
        top: 650px;
        left: 115px; 

        
    }
  
}
.info__titles {
   
    font-size: 20px;
    width: 40%;

}
.golovna-flex {
    display: flex;
    justify-content: center
}
.info__box {
    
    justify-content: space-around;
   
}
.contacts__link {
    font-size: 15px;
}
.info__title-img {
    height: 100%;
}
.containers-golovna {
    

    padding-top: 52px;
}
.info__img {
    width: 320px;
    @media screen and (min-width: 375px) {
        width: 375px;
    }
    @media screen and (min-width: 425px) {
        width: 425px;
    }
    @media screen and (min-width: 768px) {
        width: 768px;
    }
}
.info__ulublene-title {
    margin: 0;
    padding: 5px;
    text-align: center;
    font-size: 30px;
    color: floralwhite;
    background-color: goldenrod;
}
.ulublene__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px 0;
    
}
.ulublene__text {
    font-size: 15px;
    font-family: serif;
}
.tabl {
    display: flex;
    justify-content: space-around
}

.tabl__img {
    width: 320px;

    @media screen and (min-width: 374px) {
        width: 374px;
    }

    padding: 5px;

    @media screen and (min-width: 375px) {
        width: 375px;
    }

    @media screen and (min-width: 405px) {
        width: 405px;
    }

    @media screen and (min-width: 768px) {
        width: 100%;
    }
}

.tabl__title {
    text-align: center;
    border-top: 1px solid gold;
    padding-top: 10px;
    color: gold;
    font-size: 15px;
}
.ulublene__link {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 0 5px 5px grey;
    
}
.ulublene__item {
    margin-bottom: 20px;
    &:nth-last-child(-n+2) {
        margin-bottom: 0;
    }
}
