
    <div class="containers container js_ak none">
        <section>
            <div class="sety__main-box container">
                <div class="ackzc__box-flex">
                    <div class="sety__boxs">
                        <h1 class="sety__title">Promocje</h1>
                        <img src="./images/dryzgyi.jpg" alt="" width="150">
        
                    </div>
                    <!-- <div class="ackzc__box">
                        <h2 class="ackzc__title">Bezpłatna dostawa na Zestaw:</h2>
                    </div> -->
                </div>
                <!-- <ul class="sety__list">
        
                    <div class="sety__list-box">
                        <li class="sety__item item-js product">
                            <img class="image-switch__img img" src="./images/pngwing.com.jpg" alt="" width="130">
                            <div class="sety__box">
                                <h2 class="sety-item__title title">"Premium"<br>56 szt</h2>
                                <p class="menu__price">234,99zl.</p>
                                <p class="sety__text">Ebi Rol, Bonito, Philadelphia, Premium, Vege, Wędzony Łosoś,
                                    Tuna.
                                </p>
                                <button class="corzina-btn">
                                    <svg class="cap__corzina-svg-dod">
                                        <use class="icon-cross-dod" href="images/symbol-defs.svg#icon-cart"></use>
                                    </svg>
                                </button>
                            </div>
                        
                        </li>
                        <li class="sety__item item-js product">
                            <img class="image-switch__img img" src="./images/pngwing.com.jpg" alt="" width="130">
                            <div class="sety__box">
                                <h2 class="sety-item__title title">"TU TAJ"<br>76 szt</h2>
                                <p class="menu__price">219,99zl.</p>
                                <p class="sety__text">Філадельфія X2,
                                    Philadelphia x2, Tuna x2, California x2, Ebi Rol, Krewetka, Maki Mango.
                                </p>
                                <button class="corzina-btn">
                                    <svg class="cap__corzina-svg-dod">
                                        <use class="icon-cross-dod" href="images/symbol-defs.svg#icon-cart"></use>
                                    </svg>
                                </button>
                            </div>
                        
                        </li>
                    </div>
                    <div class="sety__list-box">
                        <li class="sety__item item-js product">
                            <img class="image-switch__img img" src="./images/pngwing.com.jpg" alt="" width="130">
                            <div class="sety__box">
                                <h2 class="sety-item__title title">"Love is"<br>48 szt</h2>
                                <p class="menu__price">199,99zl.</p>
                                <p class="sety__text">Philadelphia x2, Tuna x2, California, Maki Mango.
                                </p>
                                <button class="corzina-btn">
                                    <svg class="cap__corzina-svg-dod">
                                        <use class="icon-cross-dod" href="images/symbol-defs.svg#icon-cart"></use>
                                    </svg>
                                </button>
                            </div>
                        
                        
                        </li>
                        <li class="sety__item item-js product">
                            <img class="image-switch__img img" src="./images/pngwing.com.jpg" alt="" width="130">
                            <div class="sety__box">
                                <h2 class="sety-item__title title">"Friends"<br>64 szt</h2>
                                <p class="menu__price">219,99zl.</p>
                                <p class="sety__text">Philadelphia, Kioto, Bonito, California, Ebi Rolka, Vega, Maki Łosoś, Maki
                                    Awokado.
                                </p>
                                <button class="corzina-btn">
                                    <svg class="cap__corzina-svg-dod">
                                        <use class="icon-cross-dod" href="images/symbol-defs.svg#icon-cart"></use>
                                    </svg>
                                </button>
                            </div>
                        
                        </li>
        
                    </div>
                </ul> -->
                <h2 class="ackzcs__title">4 koktajle + 1 </h2>
            </div>
            
        </section>
    </div>