

    <div class="containers container js_ak none">
        <section>
            <div class="sety__main-box">
                <div class="ackzc__box-flex">
                    <div class="sety__boxs">
                        <h1 class="sety__title">АКЦІЇ</h1>
                        <img src="./images/dryzgyi.jpg" alt="" width="150">
        
                    </div>
                    <!-- <div class="ackzc__box">
                        <h2 class="ackzc__title">БЕЗКОШТОВНА ДОСТАВКА НА СЕТИ:</h2>
                    </div> -->
                </div>
                <!-- <ul class="sety__list">
        
                    <div class="sety__list-box">
                        <li class="sety__item item-js product">
                            <img class="image-switch__img img" src="./images/pngwing.com.jpg" alt="" width="130">
                            <div class="sety__box">
                                <h2 class="sety-item__title title">"Преміум"<br>56 szt</h2>
                                <p class="menu__price">234,99zl</p>
                                <p class="sety__text">Ебі Рол, Боніто, Філадельфія Преміум, Веган, Копчений Лосось,
                                    Тунець.
                                </p>
                                <button type="button" class="corzina-btn">
                                    <svg class="cap__corzina-svg-dod">
                                        <use class="icon-cross-dod" href="images/symbol-defs.svg#icon-cart"></use>
                                    </svg>
                                </button>
                            </div>
                        </li>
                        <li class="sety__item item-js product">
                            <img class="image-switch__img img" src="./images/pngwing.com.jpg" alt="" width="130">
                            <div class="sety__box">
                                <h2 class="sety-item__title title">"TU TAJ"<br>76 szt</h2>
                                <p class="menu__price">299,99zl.</p>
                                <p class="sety__text">Філадельфія X2,
                                    Тунець X2,
                                    Каліфорнія X2,
                                    Ебі Рол,
                                    Креветки,
                                    Макі манго,
                        
                                </p>
                                <button type="button" class="corzina-btn">
                                    <svg class="cap__corzina-svg-dod">
                                        <use class="icon-cross-dod" href="images/symbol-defs.svg#icon-cart"></use>
                                    </svg>
                                </button>
                            </div>
                        </li>
                    </div>
                    <div class="sety__list-box">
                    <li class="sety__item item-js product">
                        <img class="image-switch__img img" src="./images/pngwing.com.jpg" alt="" width="130">
                        <div class="sety__box">
                            <h2 class="sety-item__title title">"Love is"<br>48 szt</h2>
                            <p class="menu__price">199,99zl</p>
                            <p class="sety__text">Філадельфія X2, Тунець X2, Каліфорнія, Макі манго
                            </p>
                            <button type="button" class="corzina-btn">
                                <svg class="cap__corzina-svg-dod">
                                    <use class="icon-cross-dod" href="images/symbol-defs.svg#icon-cart"></use>
                                </svg>
                            </button>
                        </div>
                    </li>
                        <li class="sety__item item-js product">
                            <img class="image-switch__img img" class="image-switch__img img" src="./images/pngwing.com.jpg" alt="" width="130">
                            <div class="sety__box">
                                <h2 class="sety-item__title title">"Friends"<br>64 szt</h2>
                                <p class="menu__price">219,99zl</p>
                                <p class="sety__text">Філадельфія, Кіото, Боніто, Каліфорнія, Ебі Рол, Веган, Макі лосось, Макі
                                    авокадо.
                                </p>
                                <button type="button" class="corzina-btn">
                                    <svg class="cap__corzina-svg-dod">
                                        <use class="icon-cross-dod" href="images/symbol-defs.svg#icon-cart"></use>
                                    </svg>
                                </button>
                            </div>
                        </li>
        
                    </div>
                </ul> -->
            </div>
            <h2 class="ackzcs__title">4 КОКТЕЙЛІ + 1 </h2>
        </section>

    </div>
    
  