<footer>
    <div class="container">
        <ul class="footer__dostava">
            <h2>Dodatek:</h2>
            <li class="footer__dostava-item">Sos sojowy +3 zł</li>
            <li class="footer__dostava-item">Imbir +3 zł</li>
            <li class="footer__dostava-item">Patyczki +1 zł</li>
            <h2>Dostawa:</h2>
            <li class="footer__dostava-item">Centrum do 2 km 10zl.
                Gratis od 200.</li>
            <li class="footer__dostava-item">Centrum do 4 km 15 zl
                Gratis 250 zl.</li>
            <li class="footer__dostava-item">
                Lewobrzeże : od 4 km 20zl
                Gratis od 300zl
                Prawobrzeże:
                Gratis 700zl.
            </li>
        </ul>
        <ul class="footer__instnetwork">
            <li>
                <a class="footer__inst" href="https://www.instagram.com/sushi.szcz.tutaj/">
                    <img src="./images/insta.jpg" alt="" width="30px">
                </a>
            </li>
        </ul>
        <address class="address">
            <a class="address__maps"
                href="https://www.google.com/maps/search/Szczecin+71-414+Pl.+Kili%C5%84skiego+1,+++++++++++++++++++++pawilon+11/@53.4416358,14.5453479,17z/data=!3m1!4b1">Szczecin
                71-414 Pl. Kilińskiego 1,
                pawilon 11
            </a>
        </address>
        <ul class="contacts">
            <li class="address__link">
                <a class="address__contacts-email"
                    href="mailto:sushitutajszczecin@gmail.com">sushitutajszczecin@gmail.com
                </a>
            </li>
            <li class="contacts__item">
                <a class="contacts__link contacts__link--tel" href="tel:+48690107502">
                    +486 90 10 75 02
                </a>
            </li>
        </ul>
    </div>
</footer>