
    

    <div class="containers container js_menu none">
        <section class="menu">
            <h1 class="menu__title">РОЛИ</h1>
            <img src="./images/dryzgyi.jpg" alt="" width="150">
        </section>
        
        <section>
                <h2 class="rolu__title">РОЛИ:</h2>
                <ul class="rolu__list">
                    <li class="rolu__item item-js product">
                        <img class="image-switch__img img" src="./images/rol-filad.jpg" alt="" width="150">
                        <h3 class="rolu-item__title title">Філадельфія<br> 8 szt.</h3>
                        <p class="menu__price">34,99 zl.</p>
                        <p class="rolu__text">норі, рис, крем-сир ,огірок, лосось.
                        </p>
                        <button class="corzina-btn">
                            <svg class="cap__corzina-svg-dod">
                                <use class="icon-cross-dod" href="images/symbol-defs.svg#icon-cart"></use>
                            </svg>
                        </button>

                    </li>
                    <li class="rolu__item item-js product">
                        <img class="image-switch__img img" src="./images/pngwing.com.jpg" alt="" width="150">
                        <h3 class="rolu-item__title title">Філадельфія Преміум<br>8szt.</h3>
                        <p class="menu__price">39,99zl.</p>
                        <p class="rolu__text">норі, рис, манго, лосось.
                        </p>
                        <button class="corzina-btn">
                            <svg class="cap__corzina-svg-dod">
                                <use class="icon-cross-dod" href="images/symbol-defs.svg#icon-cart"></use>
                            </svg>
                        </button>
                    </li>
                    <li class="rolu__item item-js product">
                        <img class="image-switch__img img" src="./images/pngwing.com.jpg" alt="" width="150">
                        <h3 class="rolu-item__title title">Кіото<br>8 szt.</h3>
                        <p class="menu__price">29,99zl.</p>
                        <p class="rolu__text">норі, рис,тунчик, огірок, стружка тунця, соус унаги.
                        </p>
                        <button class="corzina-btn">
                            <svg class="cap__corzina-svg-dod">
                                <use class="icon-cross-dod" href="images/symbol-defs.svg#icon-cart"></use>
                            </svg>
                        </button>
                    </li>
                    <li class="rolu__item item-js product">
                        <img class="image-switch__img img" src="./images/pngwing.com.jpg" alt="" width="150">
                        <h3 class="rolu-item__title title">Боніто<br>8 szt.</h3>
                        <p class="menu__price">29,99zl.</p>
                        <p class="rolu__text">норі, рис, лосось смажений, помідор чері, , кунжут, крем-сир.
                        </p>
                        <button class="corzina-btn">
                            <svg class="cap__corzina-svg-dod">
                                <use class="icon-cross-dod" href="images/symbol-defs.svg#icon-cart"></use>
                            </svg>
                        </button>
                    </li>
                    <li class="rolu__item item-js product">
                        <img class="image-switch__img img" src="./images/pngwing.com.jpg" alt="" width="150">
                        <h3 class="rolu-item__title title">Кампіо<br>8 szt.</h3>
                        <p class="menu__price">29,99zl.</p>
                        <p class="rolu__text">норі, рис, кампіо, огірок, краб сніжний.
                        </p>
                        <button class="corzina-btn">
                            <svg class="cap__corzina-svg-dod">
                                <use class="icon-cross-dod" href="images/symbol-defs.svg#icon-cart"></use>
                            </svg>
                        </button>
                    </li>
                    <li class="rolu__item item-js product">
                        <img class="image-switch__img img" src="./images/pngwing.com.jpg" alt="" width="150">
                        <h3 class="rolu-item__title title">Каліфорнія<br>8 szt.</h3>
                        <p class="menu__price">34,99zl.</p>
                        <p class="rolu__text"> норі, рис, краб сніжний крем-сир, ікра табіко.
                        </p>
                        <button class="corzina-btn">
                            <svg class="cap__corzina-svg-dod">
                                <use class="icon-cross-dod" href="images/symbol-defs.svg#icon-cart"></use>
                            </svg>
                        </button>
                    </li>
                    <li class="rolu__item item-js product">
                        <img class="image-switch__img img" src="./images/pngwing.com.jpg" alt="" width="150">
                        <h3 class="rolu-item__title title">Копчений лосось<br>8 szt.</h3>
                        <p class="menu__price">34,99zl.</p>
                        <p class="rolu__text">норі, рис, огірок, лосось копчений, кунжут.
                        </p>
                        <button class="corzina-btn">
                            <svg class="cap__corzina-svg-dod">
                                <use class="icon-cross-dod" href="images/symbol-defs.svg#icon-cart"></use>
                            </svg>
                        </button>
                    </li>
                    <li class="rolu__item item-js product">
                        <img class="image-switch__img img" src="./images/pngwing.com.jpg" alt="" width="150">
                        <h3 class="rolu-item__title title">Тунець<br>8 szt.</h3>
                        <p class="menu__price">34,99zl.</p>
                        <p class="rolu__text">тунець, рис, норі, огірок, крем-сир.
                        </p>
                        <button class="corzina-btn">
                            <svg class="cap__corzina-svg-dod">
                                <use class="icon-cross-dod" href="images/symbol-defs.svg#icon-cart"></use>
                            </svg>
                        </button>
                    </li>
                    <li class="rolu__item item-js product">
                        <img class="image-switch__img img" src="./images/pngwing.com.jpg" alt="" width="150">
                        <h3 class="rolu-item__title title">Томагочі<br>8 szt.</h3>
                        <p class="menu__price">29,99zl.</p>
                        <p class="rolu__text">рис, норі, огірок, креветки, соус манго.
                        </p>
                        <button class="corzina-btn">
                            <svg class="cap__corzina-svg-dod">
                                <use class="icon-cross-dod" href="images/symbol-defs.svg#icon-cart"></use>
                            </svg>
                        </button>
                    </li>
                    <li class="rolu__item item-js product">
                        <img class="image-switch__img img" src="./images/pngwing.com.jpg" alt="" width="150">
                        <h3 class="rolu-item__title title">Ебі Рол<br>8 szt.</h3>
                        <p class="menu__price">29,99zl.</p>
                        <p class="rolu__text">норі, рис , креветки, майонез, авокадо, кунжут, соус унаги.
                        </p>
                        <button class="corzina-btn">
                            <svg class="cap__corzina-svg-dod">
                                <use class="icon-cross-dod" href="images/symbol-defs.svg#icon-cart"></use>
                            </svg>
                        </button>
                    </li>
                    <li class="rolu__item item-js product">
                        <img class="image-switch__img img" src="./images/stravbery.jpg" alt="" width="150">
                        <h3 class="rolu-item__title title">Strawberries<br>8 szt.</h3>
                        <p class="menu__price">24,99zl.</p>
                        <p class="rolu__text">норі, рис, крем сир, клубника , кунжут, соус манго , соус унаги.
                        </p>
                        <button class="corzina-btn">
                            <svg class="cap__corzina-svg-dod">
                                <use class="icon-cross-dod" href="images/symbol-defs.svg#icon-cart"></use>
                            </svg>
                        </button>
                    </li>
                    <li class="rolu__item item-js product">
                        <img class="image-switch__img img" src="./images/kivi.jpg" alt="" width="150">
                        <h3 class="rolu-item__title title">Kiwi<br>8 szt.</h3>
                        <p class="menu__price">24,99zl.</p>
                        <p class="rolu__text">Норі, рис , крем сир, ківі, кунжут, мигдальні пелюстки
                        </p>
                        <button class="corzina-btn">
                            <svg class="cap__corzina-svg-dod">
                                <use class="icon-cross-dod" href="images/symbol-defs.svg#icon-cart"></use>
                            </svg>
                        </button>
                    </li>
                </ul>
        </section>
        <section>
                <h2 class="maki-rolu__title">МАКІ:</h2>
                <ul class="maki-rolu__list">
                    <li class="maki-rolu__item item-js product">
                        <img class="image-switch__img img" src="./images/makis.jpg" alt="" width="150">
                        <h3 class="maki-rolu-item__title title">Лосось<br>8 szt.</h3>
                        <p class="menu__price">19,99zl.</p>
                        <p class="maki-rolu__text"> норі, рис, лосось.</p>
                        <button class="corzina-btn">
                            <svg class="cap__corzina-svg-dod">
                                <use class="icon-cross-dod" href="images/symbol-defs.svg#icon-cart"></use>
                            </svg>
                        </button>
                    </li>
                    <li class="maki-rolu__item item-js product">
                        <img class="image-switch__img img" src="./images/makis.jpg" alt="" width="150">
                        <h3 class="maki-rolu-item__title title">Манго<br>8 szt.</h3>
                        <p class="menu__price">19,99zl.</p>
                        <p class="maki-rolu__text">норі, рис , манго.</p>
                        <button class="corzina-btn">
                            <svg class="cap__corzina-svg-dod">
                                <use class="icon-cross-dod" href="images/symbol-defs.svg#icon-cart"></use>
                            </svg>
                        </button>
                    </li>
                    <li class="maki-rolu__item item-js product">
                        <img class="image-switch__img img" src="./images/makis.jpg" alt="" width="150">
                        <h3 class="maki-rolu-item__title title">Краб<br>8 szt.</h3>
                        <p class="menu__price">19,99zl.</p>
                        <p class="maki-rolu__text">сніжний краб, норі, рис</p>
                        <button class="corzina-btn">
                            <svg class="cap__corzina-svg-dod">
                                <use class="icon-cross-dod" href="images/symbol-defs.svg#icon-cart"></use>
                            </svg>
                        </button>
                    </li>
                    <li class="maki-rolu__item item-js product">
                        <img class="image-switch__img img" src="./images/makis.jpg" alt="" width="150">
                        <h3 class="maki-rolu-item__title title">Авокадо<br>8 szt.</h3>
                        <p class="menu__price">19,99zl.</p>
                        <p class="maki-rolu__text">норі, рис, авокадо</p>
                        <button class="corzina-btn">
                            <svg class="cap__corzina-svg-dod">
                                <use class="icon-cross-dod" href="images/symbol-defs.svg#icon-cart"></use>
                            </svg>
                        </button>
                    </li>
                </ul>
        </section>
        <section>
                <h2 class="hot-rolu__title">ГАРЯЧІ РОЛИ:</h2>
                
                <ul class="hot-rolu__list">
                    <li class="hot-rolu__item item-js product">
                        <img class="image-switch__img img" src="./images/tempura-zaki.jpg" alt="" width="150">
                        <h3 class="hot-rolu-item__title title">Темпура Закі<br>8 szt.</h3>
                        <p class="menu__price">29,99zl.</p>
                        <p class="hot-rolu__text">норі, рис, авокадо, лосось.
                        </p>
                        <button class="corzina-btn">
                            <svg class="cap__corzina-svg-dod">
                                <use class="icon-cross-dod" href="images/symbol-defs.svg#icon-cart"></use>
                            </svg>
                        </button>
                    </li>
                    <li class="hot-rolu__item item-js product">
                        <img class="image-switch__img img" src="./images/tempura-tuna.jpg" alt="" width="150">
                        <h3 class="hot-rolu-item__title title">Темпура Туна<br>8 szt.</h3>
                        <p class="menu__price">29,99zl.</p>
                        <p class="hot-rolu__text">рис, норі, тунчик , сир .
                        </p>
                        <button class="corzina-btn">
                            <svg class="cap__corzina-svg-dod">
                                <use class="icon-cross-dod" href="images/symbol-defs.svg#icon-cart"></use>
                            </svg>
                        </button>
                    </li>
                    <li class="hot-rolu__item item-js product">
                        <img class="image-switch__img img" src="./images/ebi-futo.jpg" alt="" width="150">
                        <h3 class="hot-rolu-item__title title">Фрай Ебі Футо<br>8 szt.</h3>
                        <p class="menu__price">34,99zl.</p>
                        <p class="hot-rolu__text">норі, рис, креветки, крем-сир, авокадо, огірок.
                        </p>
                        <button class="corzina-btn">
                            <svg class="cap__corzina-svg-dod">
                                <use class="icon-cross-dod" href="images/symbol-defs.svg#icon-cart"></use>
                            </svg>
                        </button>
                    </li>
                    <li class="hot-rolu__item item-js product">
                        <img class="image-switch__img img" src="./images/klipartz.com.jpg" alt="" width="150">
                        <h3 class="hot-rolu-item__title title">Фрай Кампіо-Футо<br>8 szt.</h3>
                        <p class="menu__price">29,99zl.</p>
                        <p class="hot-rolu__text">Фрай Кампіо-Футо: норі, рис, кампіо, огірок, авокадо.
                        </p>
                        <button class="corzina-btn">
                            <svg class="cap__corzina-svg-dod">
                                <use class="icon-cross-dod" href="images/symbol-defs.svg#icon-cart"></use>
                            </svg>
                        </button>
                    </li>
                </ul>

        </section>
        <section>
                <h2 class="futomaki-rolu__title">ФУТОМАКИ:</h2>
                
                <ul class="futomaki-rolu__list">
                    <li class="futomaki-rolu__item item-js product">
                        <img class="image-switch__img img" src="./images/funomaki.jpg" alt="" width="150">
                        <h3 class="futomaki-rolu-item__title title">Тропіка<br>8 szt.</h3>
                        <p class="menu__price">39,99zl.</p>
                        <p class="futomaki-rolu__text">норі, рис, манго, лосось, авокадо, салат.
                        </p>
                        <button class="corzina-btn">
                            <svg class="cap__corzina-svg-dod">
                                <use class="icon-cross-dod" href="images/symbol-defs.svg#icon-cart"></use>
                            </svg>
                        </button>
                    </li>
                    <li class="futomaki-rolu__item item-js product">
                        <img class="image-switch__img img" src="./images/funomaki.jpg" alt="" width="150">
                        <h3 class="futomaki-rolu-item__title title">Тунчик<br>8 szt.</h3>
                        <p class="menu__price">39,99zl.</p>
                        <p class="futomaki-rolu__text">норі , рис, огірок, тунчик, стружка тунця, соус унагі.
                        </p>
                        <button class="corzina-btn">
                            <svg class="cap__corzina-svg-dod">
                                <use class="icon-cross-dod" href="images/symbol-defs.svg#icon-cart"></use>
                            </svg>
                        </button>
                    </li>
                    <li class="futomaki-rolu__item item-js product">
                        <img class="image-switch__img img" src="./images/funomaki.jpg" alt="" width="150">
                        <h3 class="futomaki-rolu-item__title title">Креветки<br>8 szt.</h3>
                        <p class="menu__price">39,99zl.</p>
                        <p class="futomaki-rolu__text">норі, рис, креветки, сніжний краб, крем-сир, салат.
                        </p>
                        <button class="corzina-btn">
                            <svg class="cap__corzina-svg-dod">
                                <use class="icon-cross-dod" href="images/symbol-defs.svg#icon-cart"></use>
                            </svg>
                        </button>
                    </li>
                    <li class="futomaki-rolu__item item-js product">
                        <img class="image-switch__img img" src="./images/vega.jpg" alt="" width="150">
                        <h3 class="futomaki-rolu-item__title title">Вега<br>8 szt.</h3>
                        <p class="menu__price">29,99zl.</p>
                        <p class="futomaki-rolu__text">норі, рис, авокадо, огірок, груша, соус манго.
                        </p>
                        <button class="corzina-btn">
                            <svg class="cap__corzina-svg-dod">
                                <use class="icon-cross-dod" href="images/symbol-defs.svg#icon-cart"></use>
                            </svg>
                        </button>
                    </li>
                </ul>
        </section>

        <section>
                <h2 class="nigiri-rolu__title">НІГІРІ:</h2>
                
                <ul class="nigiri-rolu__list">
                    <li class="nigiri-rolu__item item-js product">
                        <img class="image-switch__img img" src="./images/losos.jpg" alt="" width="150">
                        <h3 class="nigiri-rolu-item__title title">Лосось<br>1szt.</h3>
                        <p class="menu__price">4,99zl</p>
                        <p class="nigiri-rolu__text">рис, лосось</p>
                        <button class="corzina-btn">
                            <svg class="cap__corzina-svg-dod">
                                <use class="icon-cross-dod" href="images/symbol-defs.svg#icon-cart"></use>
                            </svg>
                        </button>
                    </li>
                    <li class="nigiri-rolu__item item-js product">
                        <img class="image-switch__img img" src="./images/nigiri.jpg" alt="" width="150">
                        <h3 class="nigiri-rolu-item__title title">Тунець<br>1szt.</h3>
                        <p class="menu__price">4,99zl</p>
                        <p class="nigiri-rolu__text">рис, тунець</p>
                        <button class="corzina-btn">
                            <svg class="cap__corzina-svg-dod">
                                <use class="icon-cross-dod" href="images/symbol-defs.svg#icon-cart"></use>
                            </svg>
                        </button>
                    </li>
                    <li class="nigiri-rolu__item item-js product">
                        <img class="image-switch__img img" src="./images/nigiri.jpg" alt="" width="150">
                        <h3 class="nigiri-rolu-item__title title">Креветки<br>1szt.</h3>
                        <p class="menu__price">4,99zl</p>
                        <p class="nigiri-rolu__text">рис, креветки</p>
                        <button class="corzina-btn">
                            <svg class="cap__corzina-svg-dod">
                                <use class="icon-cross-dod" href="images/symbol-defs.svg#icon-cart"></use>
                            </svg>
                        </button>
                    </li>
                </ul>


        </section>
    

    