
    
    <div class="containers container js_menu none">
        <section class="menu">
            <h1 class="menu__title">Rolki</h1>
            <img src="./images/dryzgyi.jpg" alt="" width="150">
        </section>
        <section>
                <h2 class="rolu__title">Rolki:</h2>
                <ul class="rolu__list">
                    <li class="rolu__item item-js product">
                        <img class="image-switch__img img" src="./images/rol-filad.jpg" alt="" width="130">
                        <h3 class="rolu-item__title title">Philadelphia<br> 8 szt.</h3>
                        <p class="menu__price">34,99 zl.</p>
                        <p class="rolu__text">ryż, nori, serek, ogórek, łosoś.
                        </p>
                        <button class="corzina-btn">
                            <svg class="cap__corzina-svg-dod">
                                <use class="icon-cross-dod" href="images/symbol-defs.svg#icon-cart"></use>
                            </svg>
                        </button>
                    </li>
                    <li class="rolu__item item-js product">
                        <img class="image-switch__img img" src="./images/pngwing.com.jpg" alt="" width="130">
                        <h3 class="rolu-item__title title">Philadelphia Premium<br>8szt.</h3>
                        <p class="menu__price">39,99zl.</p>
                        <p class="rolu__text">ryż, nori, mango, łosoś.
                        </p>
                        <button class="corzina-btn">
                            <svg class="cap__corzina-svg-dod">
                                <use class="icon-cross-dod" href="images/symbol-defs.svg#icon-cart"></use>
                            </svg>
                        </button>
                    </li>
                    <li class="rolu__item item-js product">
                        <img class="image-switch__img img" src="./images/pngwing.com.jpg" alt="" width="130">
                        <h3 class="rolu-item__title title">Kioto<br>8 szt.</h3>
                        <p class="menu__price">29,99zl.</p>
                        <p class="rolu__text">ryż, nori, tuńczyk, ogórek, sos Unagi.
                        </p>
                        <button class="corzina-btn">
                            <svg class="cap__corzina-svg-dod">
                                <use class="icon-cross-dod" href="images/symbol-defs.svg#icon-cart"></use>
                            </svg>
                        </button>
                    </li>
                    <li class="rolu__item item-js product">
                        <img class="image-switch__img img" src="./images/pngwing.com.jpg" alt="" width="130">
                        <h3 class="rolu-item__title title">Bonito<br>8 szt.</h3>
                        <p class="menu__price">29,99zl.</p>
                        <p class="rolu__text">ryż, nori, smażony łosoś, serek, pomidor, posypka sezamowa.
                        </p>
                        <button class="corzina-btn">
                            <svg class="cap__corzina-svg-dod">
                                <use class="icon-cross-dod" href="images/symbol-defs.svg#icon-cart"></use>
                            </svg>
                        </button>
                    </li>
                    <li class="rolu__item item-js product">
                        <img class="image-switch__img img" src="./images/pngwing.com.jpg" alt="" width="130">
                        <h3 class="rolu-item__title title">Kampio<br>8 szt.</h3>
                        <p class="menu__price">29,99zl.</p>
                        <p class="rolu__text">ryż, nori, kampio, ogórek, krabowy paluszek.
                        </p>
                        <button class="corzina-btn">
                            <svg class="cap__corzina-svg-dod">
                                <use class="icon-cross-dod" href="images/symbol-defs.svg#icon-cart"></use>
                            </svg>
                        </button>
                    </li>
                    <li class="rolu__item item-js product">
                        <img class="image-switch__img img" src="./images/pngwing.com.jpg" alt="" width="130">
                        <h3 class="rolu-item__title title">California<br>8 szt.</h3>
                        <p class="menu__price">34,99zl.</p>
                        <p class="rolu__text"> ryż, nori, krabowy paluszek, kawior Tobiko.
                        </p>
                        <button class="corzina-btn">
                            <svg class="cap__corzina-svg-dod">
                                <use class="icon-cross-dod" href="images/symbol-defs.svg#icon-cart"></use>
                            </svg>
                        </button>
                    </li>
                    <li class="rolu__item item-js product">
                        <img class="image-switch__img img" src="./images/pngwing.com.jpg" alt="" width="130">
                        <h3 class="rolu-item__title title">Wędzony łosoś<br>8 szt.</h3>
                        <p class="menu__price">34,99zl.</p>
                        <p class="rolu__text">ryż, nori, ogórek, wędzony łosoś, posypka sezamowa.
                        </p>
                        <button class="corzina-btn">
                            <svg class="cap__corzina-svg-dod">
                                <use class="icon-cross-dod" href="images/symbol-defs.svg#icon-cart"></use>
                            </svg>
                        </button>
                    </li>
                    <li class="rolu__item item-js product">
                        <img class="image-switch__img img" src="./images/pngwing.com.jpg" alt="" width="130">
                        <h3 class="rolu-item__title title">Tuna<br>8 szt.</h3>
                        <p class="menu__price">34,99zl.</p>
                        <p class="rolu__text">ryż, nori, tuna, serek, ogórek, tuna.
                        </p>
                        <button class="corzina-btn">
                            <svg class="cap__corzina-svg-dod">
                                <use class="icon-cross-dod" href="images/symbol-defs.svg#icon-cart"></use>
                            </svg>
                        </button>
                    </li>
                    <li class="rolu__item item-js product">
                        <img class="image-switch__img img" src="./images/pngwing.com.jpg" alt="" width="130">
                        <h3 class="rolu-item__title title">Tomogochi<br>8 szt.</h3>
                        <p class="menu__price">29,99zl.</p>
                        <p class="rolu__text">ryż, nori, ogórek, krewetka, sos z chili Mango.
                        </p>
                        <button class="corzina-btn">
                            <svg class="cap__corzina-svg-dod">
                                <use class="icon-cross-dod" href="images/symbol-defs.svg#icon-cart"></use>
                            </svg>
                        </button>
                    </li>
                    <li class="rolu__item item-js product">
                        <img class="image-switch__img img" src="./images/pngwing.com.jpg" alt="" width="130">
                        <h3 class="rolu-item__title title">Ebi Rol<br>8 szt.</h3>
                        <p class="menu__price">29,99zl.</p>
                        <p class="rolu__text">ryż, nori, krewetka, majonez, awokado, posypka sezamowa, sos Unagi.
                        </p>
                        <button class="corzina-btn">
                            <svg class="cap__corzina-svg-dod">
                                <use class="icon-cross-dod" href="images/symbol-defs.svg#icon-cart"></use>
                            </svg>
                        </button>
                    </li>
                    <li class="rolu__item item-js product">
                        <img class="image-switch__img img" src="./images/stravbery.jpg" alt="" width="130">
                        <h3 class="rolu-item__title title">Strawberries<br>8 szt.</h3>
                        <p class="menu__price">24,99zl.</p>
                        <p class="rolu__text">nori, ryż, serek, truskawki, sezam, sos mango, sos unagi.
                        </p>
                        <button class="corzina-btn">
                            <svg class="cap__corzina-svg-dod">
                                <use class="icon-cross-dod" href="images/symbol-defs.svg#icon-cart"></use>
                            </svg>
                        </button>
                    </li>
                    <li class="rolu__item item-js product">
                        <img class="image-switch__img img" src="./images/kivi.jpg" alt="" width="130">
                        <h3 class="rolu-item__title title">Kiwi<br>8 szt.</h3>
                        <p class="menu__price">24,99zl.</p>
                        <p class="rolu__text">Nori, ryż, serek, kiwi, sezam, płatki migdałów
                        </p>
                        <button class="corzina-btn">
                            <svg class="cap__corzina-svg-dod">
                                <use class="icon-cross-dod" href="images/symbol-defs.svg#icon-cart"></use>
                            </svg>
                        </button>
                    </li>
                </ul>
        </section>
        <section>
                <h2 class="maki-rolu__title">Maki:</h2>
                
                <ul class="maki-rolu__list">
                    <li class="maki-rolu__item item-js product">
                        <img class="image-switch__img img" src="./images/makis.jpg" alt="" width="130">
                        <h3 class="maki-rolu-item__title title">Łosoś<br>8 szt.</h3>
                        <p class="menu__price">19,99zl.</p>
                        <p class="maki-rolu__text">nori, ryż, łosoś.</p>
                        <button class="corzina-btn">
                            <svg class="cap__corzina-svg-dod">
                                <use class="icon-cross-dod" href="images/symbol-defs.svg#icon-cart"></use>
                            </svg>
                        </button>
                    </li>
                    <li class="maki-rolu__item item-js product">
                        <img class="image-switch__img img" src="./images/makis.jpg" alt="" width="130">
                        <h3 class="maki-rolu-item__title title">Mango<br>8 szt.</h3>
                        <p class="menu__price">19,99zl.</p>
                        <p class="maki-rolu__text">nori, ryż, mango.</p>
                        <button class="corzina-btn">
                            <svg class="cap__corzina-svg-dod">
                                <use class="icon-cross-dod" href="images/symbol-defs.svg#icon-cart"></use>
                            </svg>
                        </button>
                    </li>
                    <li class="maki-rolu__item item-js product">
                        <img class="image-switch__img img" src="./images/makis.jpg" alt="" width="130">
                        <h3 class="maki-rolu-item__title title">Krab<br>8 szt.</h3>
                        <p class="menu__price">19,99zl.</p>
                        <p class="maki-rolu__text">nori, ryż, krab śnieżny.</p>
                        <button class="corzina-btn">
                            <svg class="cap__corzina-svg-dod">
                                <use class="icon-cross-dod" href="images/symbol-defs.svg#icon-cart"></use>
                            </svg>
                        </button>
                    </li>
                    <li class="maki-rolu__item item-js product">
                        <img class="image-switch__img img" src="./images/makis.jpg" alt="" width="130">
                        <h3 class="maki-rolu-item__title title">Awokado<br>8 szt.</h3>
                        <p class="menu__price">19,99zl.</p>
                        <p class="maki-rolu__text">nori, ryż, awokado.</p>
                        <button class="corzina-btn">
                            <svg class="cap__corzina-svg-dod">
                                <use class="icon-cross-dod" href="images/symbol-defs.svg#icon-cart"></use>
                            </svg>
                        </button>
                    </li>
                </ul>
        </section>
        <section>
                <h2 class="hot-rolu__title">Gorące Rolki:</h2>
                
                <ul class="hot-rolu__list">
                    <li class="hot-rolu__item item-js product">
                        <img class="image-switch__img img" src="./images/tempura-zaki.jpg" alt="" width="130">
                        <h3 class="hot-rolu-item__title title">Tempura Zaki<br>8 szt.</h3>
                        <p class="menu__price">29,99zl.</p>
                        <p class="hot-rolu__text">ryż, nori, awokado, łosoś.
                        </p>
                        <button class="corzina-btn">
                            <svg class="cap__corzina-svg-dod">
                                <use class="icon-cross-dod" href="images/symbol-defs.svg#icon-cart"></use>
                            </svg>
                        </button>
                    </li>
                    <li class="hot-rolu__item item-js product">
                        <img class="image-switch__img img" src="./images/tempura-tuna.jpg" alt="" width="130">
                        <h3 class="hot-rolu-item__title title">Tempura Tuna<br>8 szt.</h3>
                        <p class="menu__price">29,99zl.</p>
                        <p class="hot-rolu__text">ryż, nori, tuńczyk, ser.
                        </p>
                        <button class="corzina-btn">
                            <svg class="cap__corzina-svg-dod">
                                <use class="icon-cross-dod" href="images/symbol-defs.svg#icon-cart"></use>
                            </svg>
                        </button>
                    </li>
                    <li class="hot-rolu__item item-js product">
                        <img class="image-switch__img img" src="./images/ebi-futo.jpg" alt="" width="130">
                        <h3 class="hot-rolu-item__title title">Fraj Ebi Futo<br>8 szt.</h3>
                        <p class="menu__price">34,99zl.</p>
                        <p class="hot-rolu__text">ryż, nori, krewetka, serek, awokado, ogórek.
                        </p>
                        <button class="corzina-btn">
                            <svg class="cap__corzina-svg-dod">
                                <use class="icon-cross-dod" href="images/symbol-defs.svg#icon-cart"></use>
                            </svg>
                        </button>
                    </li>
                    <li class="hot-rolu__item item-js product">
                        <img class="image-switch__img img" src="./images/klipartz.com.jpg" alt="" width="130">
                        <h3 class="hot-rolu-item__title title">Fraj Kampio-Futo<br>8 szt.</h3>
                        <p class="menu__price">29,99zl.</p>
                        <p class="hot-rolu__text">ryż, nori, kampio, ogórek, awokado.
                        </p>
                        <button class="corzina-btn">
                            <svg class="cap__corzina-svg-dod">
                                <use class="icon-cross-dod" href="images/symbol-defs.svg#icon-cart"></use>
                            </svg>
                        </button>
                    </li>
                </ul>

        </section>
        <section>
                <h2 class="futomaki-rolu__title">Futomaki:</h2>
                
                <ul class="futomaki-rolu__list">
                    <li class="futomaki-rolu__item item-js product">
                        <img class="image-switch__img img" src="./images/funomaki.jpg" alt="" width="130">
                        <h3 class="futomaki-rolu-item__title title">Tropika 8 szt.</h3>
                        <p class="menu__price">39,99zl.</p>
                        <p class="futomaki-rolu__text">ryż, nori, mango, łosoś, awokado, liść świeżej sałaty.
                        </p>
                        <button class="corzina-btn">
                            <svg class="cap__corzina-svg-dod">
                                <use class="icon-cross-dod" href="images/symbol-defs.svg#icon-cart"></use>
                            </svg>
                        </button>
                    </li>
                    <li class="futomaki-rolu__item item-js product">
                        <img class="image-switch__img img" src="./images/funomaki.jpg" alt="" width="130">
                        <h3 class="futomaki-rolu-item__title title">Tuna<br>8 szt.</h3>
                        <p class="menu__price">39,99zl.</p>
                        <p class="futomaki-rolu__text">nori, ryż, ogórek, tuńczyk, chips z tuńczyka, sos unagi.
                        </p>
                        <button class="corzina-btn">
                            <svg class="cap__corzina-svg-dod">
                                <use class="icon-cross-dod" href="images/symbol-defs.svg#icon-cart"></use>
                            </svg>
                        </button>
                    </li>
                    <li class="futomaki-rolu__item item-js product">
                        <img class="image-switch__img img" src="./images/funomaki.jpg" alt="" width="130">
                        <h3 class="futomaki-rolu-item__title title">Krewetka<br>8 szt.</h3>
                        <p class="menu__price">39,99zl.</p>
                        <p class="futomaki-rolu__text">ryż, nori, krewetka, krabowy paluszek, serek, liść świeżej
                            sałaty.
                        </p>
                        <button class="corzina-btn">
                            <svg class="cap__corzina-svg-dod">
                                <use class="icon-cross-dod" href="images/symbol-defs.svg#icon-cart"></use>
                            </svg>
                        </button>
                    </li>
                    <li class="futomaki-rolu__item item-js product">
                        <img class="image-switch__img img" src="./images/vega.jpg" alt="" width="130">
                        <h3 class="futomaki-rolu-item__title title">Vege<br>8 szt.</h3>
                        <p class="menu__price">29,99zl.</p>
                        <p class="futomaki-rolu__text">ryż, nori, awokado, ogórek, gruszka, sos z chili Mango.
                        </p>
                        <button class="corzina-btn">
                            <svg class="cap__corzina-svg-dod">
                                <use class="icon-cross-dod" href="images/symbol-defs.svg#icon-cart"></use>
                            </svg>
                        </button>
                    </li>
                </ul>
        </section>

        <section>
                <h2 class="nigiri-rolu__title">Nigiri:</h2>
                
                <ul class="nigiri-rolu__list">
                    <li class="nigiri-rolu__item item-js product">
                        <img class="image-switch__img img" src="./images/losos.jpg" alt="" width="130">
                        <h3 class="nigiri-rolu-item__title title">Łosoś<br>1szt.</h3>
                        <p class="menu__price">4,99zl</p>
                        <p class="nigiri-rolu__text">ryż, łosoś</p>
                        <button class="corzina-btn">
                            <svg class="cap__corzina-svg-dod">
                                <use class="icon-cross-dod" href="images/symbol-defs.svg#icon-cart"></use>
                            </svg>
                        </button>
                    </li>
                    <li class="nigiri-rolu__item item-js product">
                        <img class="image-switch__img img" src="./images/nigiri.jpg" alt="" width="130">
                        <h3 class="nigiri-rolu-item__title title">Tuna<br>1szt.</h3>
                        <p class="menu__price">4,99zl</p>
                        <p class="nigiri-rolu__text">ryż, tuńczyk</p>
                        <button class="corzina-btn">
                            <svg class="cap__corzina-svg-dod">
                                <use class="icon-cross-dod" href="images/symbol-defs.svg#icon-cart"></use>
                            </svg>
                        </button>
                    </li>
                    <li class="nigiri-rolu__item item-js product">
                        <img class="image-switch__img img" src="./images/nigiri.jpg" alt="" width="130">
                        <h3 class="nigiri-rolu-item__title title">Krewetka<br>1szt.</h3>
                        <p class="menu__price">4,99zl</p>
                        <p class="nigiri-rolu__text">ryż, krewetka</p>
                        <button class="corzina-btn">
                            <svg class="cap__corzina-svg-dod">
                                <use class="icon-cross-dod" href="images/symbol-defs.svg#icon-cart"></use>
                            </svg>
                        </button>
                    </li>
                </ul>


        </section>
    

   