
    <div class="containers container js_napoy none">
        <section class="drinks">
            <div class="drinks__box">
                <div class="drinks__boxs">
                    <h1 class="drinks__title">Napoje</h1>
                    <img src="./images/dryzgyi.jpg" alt="" width="150">
        
                </div>
                <ul class="drinks__list">
                    <li class="drinks__item item-js product">
                        <div>
                            <h2 class="drinks-item__title title">Sok pomarańczowy<br>500 ml.</h2>
                            <p class="menu__price">14,99zl</p>
                            <p class="drinks__text">(świeżo wyciśnięty)</p>
                            <button class="corzina-btn">
                                <svg class="cap__corzina-svg-dod">
                                    <use class="icon-cross-dod" href="images/symbol-defs.svg#icon-cart"></use>
                                </svg>
                            </button>
                        </div>
                        <img class="image-switch__img img" src="./images/orange.jpg" alt="" width="160">
        
        
                    </li>
                    <li class="drinks__item item-js product">
                        <div>
                            <h2 class="drinks-item__title title">Mohito<br>400ml.</h2>
                            <p class="menu__price">11,99zl.</p>
                            <p class="drinks__text">(o smaku miętowym)</p>
                            <button class="corzina-btn">
                                <svg class="cap__corzina-svg-dod">
                                    <use class="icon-cross-dod" href="images/symbol-defs.svg#icon-cart"></use>
                                </svg>
                            </button>
                        </div>
                        <img class="image-switch__img img" src="./images/mojito.jpg" alt="" width="140">
                    </li>
                    <li class="drinks__item item-js product">
                        <div>
                            <h2 class="drinks-item__title title">Oushen<br>400ml.</h2>
                            <p class="menu__price">11,99zl.</p>
                            <p class="drinks__text">(o smaku kiwi)</p>
                            <button class="corzina-btn">
                                <svg class="cap__corzina-svg-dod">
                                    <use class="icon-cross-dod" href="images/symbol-defs.svg#icon-cart"></use>
                                </svg>
                            </button>
                        </div>
                        <img class="image-switch__img img" src="./images/oushen.jpg" alt="" width="110">
                    </li>
                    <li class="drinks__item item-js product">
                        <div>
                            <h2 class="drinks-item__title title">Lemoniada<br>400ml.</h2>
                            <p class="menu__price">11,99zl.</p>
                            <button class="corzina-btn">
                                <svg class="cap__corzina-svg-dod">
                                    <use class="icon-cross-dod" href="images/symbol-defs.svg#icon-cart"></use>
                                </svg>
                            </button>
                        </div>
                        <img class="image-switch__img img" src="./images/cocktail.jpg" alt="" width="190">
        
                    </li>
                    <li class="drinks__item item-js product">
                        <div>
                            <h2 class="drinks-item__title title">Smuzi</h2>
                            <span class="menu__obuem">250ml....<p class="menu__price">7,99zl.</p> </span>
                            <span class="menu__obuem">400ml....<p class="menu__price">14,99zl.</p></span>
                            <p class="drinks__text">(truskawki-banan)</p>
                            <button class="corzina-btn">
                                <svg class="cap__corzina-svg-dod">
                                    <use class="icon-cross-dod" href="images/symbol-defs.svg#icon-cart"></use>
                                </svg>
                            </button>
                        </div>
        
                        <img class="image-switch__img img" src="./images/banana.jpg" alt="" width="190">
                    </li>
                    <li class="drinks__item item-js product">
                        <div>
                            <h2 class="drinks-item__title title">Smuzi</h2>
                            <span class="menu__obuem">250ml....<p class="menu__price">7,99zl.</p> </span>
                            <span class="menu__obuem">400ml....<p class="menu__price">14,99zl.</p></span>
                            <p class="drinks__text">(melon-ananas)</p>
                            <button class="corzina-btn">
                                <svg class="cap__corzina-svg-dod">
                                    <use class="icon-cross-dod" href="images/symbol-defs.svg#icon-cart"></use>
                                </svg>
                            </button>
                        </div>
        
                        <img class="image-switch__img img" src="./images/ananas.jpg" alt="" width="190">
                    </li>
                    <li class="drinks__item  item-js product">
                        <div>
                            <h2 class="drinks-item__title title">Woda<br>500 ml.</h2>
                            <p class="menu__price">3zl.</p>
                            <button class="corzina-btn">
                                <svg class="cap__corzina-svg-dod">
                                    <use class="icon-cross-dod" href="images/symbol-defs.svg#icon-cart"></use>
                                </svg>
                            </button>
                        </div>
                        <img class="image-switch__img img" src="./images/voda.jpg" alt="" width="100">
                        
                    </li>
                </ul>
            </div>
        
        </section>
    </div>
    
   