


    <div class="containers container js_napoy none">
        <section class="drinks">
            <div class="drinks__box">
                <div class="drinks__boxs">
                    <h1 class="drinks__title">НАПОЇ</h1>
                    <img src="./images/dryzgyi.jpg" alt="" width="150">
        
                </div>
                <ul class="drinks__list">
                    <li class="drinks__item item-js product">
                        <div>
                            <h2 class="drinks-item__title title">Сік Апельсин<br>500 ml.</h2>
                            <p class="menu__price">14,99zl</p>
                            <p class="drinks__text">( свіжовижатий)</p>
                            <button class="corzina-btn">
                                <svg class="cap__corzina-svg-dod">
                                    <use class="icon-cross-dod" href="images/symbol-defs.svg#icon-cart"></use>
                                </svg>
                            </button>
                        </div>
                        <img class="image-switch__img img" src="./images/orange.jpg" alt="" >
        
        
                    </li>
                    <li class="drinks__item item-js product">
                        <div>
                            <h2 class="drinks-item__title title">Мохіто<br>400ml.</h2>
                            <p class="menu__price">11,99zl</p>
                            <p class="drinks__text">( зі смаком м'яти)</p>
                            <button class="corzina-btn">
                                <svg class="cap__corzina-svg-dod">
                                    <use class="icon-cross-dod" href="images/symbol-defs.svg#icon-cart"></use>
                                </svg>
                            </button>
                        </div>
                        <img class="image-switch__img img" src="./images/mojito.jpg" alt="" >
                    </li>
                    <li class="drinks__item item-js product">
                        <div>
                            <h2 class="drinks-item__title title">Оушен<br>400ml.</h2>
                            <p class="menu__price">11,99zl</p>
                            <p class="drinks__text">( зі смаком ківі)</p>
                            <button class="corzina-btn">
                                <svg class="cap__corzina-svg-dod">
                                    <use class="icon-cross-dod" href="images/symbol-defs.svg#icon-cart"></use>
                                </svg>
                            </button>
                        </div>
                        <img class="image-switch__img img" src="./images/oushen.jpg" alt="" >
                    </li>
                    <li class="drinks__item item-js product">
                        <div>
                            <h2 class="drinks-item__title title">Лимонад<br>400ml.</h2>
                            <p class="menu__price">11,99zl</p>
                            <button class="corzina-btn">
                                <svg class="cap__corzina-svg-dod">
                                    <use class="icon-cross-dod" href="images/symbol-defs.svg#icon-cart"></use>
                                </svg>
                            </button>
                        </div>
                        <img class="image-switch__img img" src="./images/cocktail.jpg" alt="" >
        
                    </li>
                    <li class="drinks__item item-js product">
                        <div>
                            <h2 class="drinks-item__title title">Смузі</h2>
                            <span class="menu__obuem">250ml....<p class="menu__price">7,99zl.</p> </span>
                            <span class="menu__obuem">400ml....<p class="menu__price">14,99zl.</p></span>
                            <p class="drinks__text">(полуниця-банан)</p>
                            <button class="corzina-btn">
                                <svg class="cap__corzina-svg-dod">
                                    <use class="icon-cross-dod" href="images/symbol-defs.svg#icon-cart"></use>
                                </svg>
                            </button>
                        </div>
        
                        <img class="image-switch__img img" src="./images/banana.jpg" alt="" >
                    </li>
                    <li class="drinks__item item-js product">
                        <div>
                            <h2 class="drinks-item__title title">Смузі<br></h2>
                            <span class="menu__obuem">250ml....<p class="menu__price">7,99zl.</p> </span>
                            <span class="menu__obuem">400ml....<p class="menu__price">14,99zl.</p></span>
                            <p class="drinks__text">(диня-ананас)</p>
                            <button class="corzina-btn">
                                <svg class="cap__corzina-svg-dod">
                                    <use class="icon-cross-dod" href="images/symbol-defs.svg#icon-cart"></use>
                                </svg>
                            </button>
                        </div>
        
                        <img class="image-switch__img img" src="./images/ananas.jpg" alt="" >
                    </li>
                    <li class="drinks__item item-js product">
                        <div>
                            <h2 class="drinks-item__title title">Вода<br>500 ml.</h2>
                            <p class="menu__price">3zl.</p>
                            <button class="corzina-btn">
                                <svg class="cap__corzina-svg-dod">
                                    <use class="icon-cross-dod" href="images/symbol-defs.svg#icon-cart"></use>
                                </svg>
                            </button>
                        </div>
                        <img class="image-switch__img img" src="./images/voda.jpg" alt="" >
                        
                    </li>
                </ul>
            </div>
        
        </section>
    </div>
    
    