

    
        <div class="containers container js_salat none">
            <section class="sety">
                <div class="sety__main-box">
                    <div class="sety__boxs">
                        <h1 class="sety__title">Салати</h1>
                        <img src="./images/dryzgyi.jpg" alt="" width="150">
        
                    </div>
                    <ul class="sety__list">
                        <li class="sety__item item-js product">
                            <img class="image-switch__img img" src="./images/salatu.jpg" alt="" width="130">
                            <div class="sety__box">
                                <h2 class="sety-item__title title">Chuka Wakame<br>150 gr.</h2>
                                <p class="menu__price">19,99 zł.</p>
                                <p class="sety__text">(з горіховим соусом)
                                </p>
                                <button type="button" class="corzina-btn">
                                    <svg class="cap__corzina-svg-dod">
                                        <use class="icon-cross-dod" href="images/symbol-defs.svg#icon-cart"></use>
                                    </svg>
                                </button>
                        
                            </div>
                        </li>
                      
                           
                    </ul>
                </div>
            </section>
        </div>
   