
    <div class="containers container js_set none">
        <section class="sety">
            <div class="sety__main-box">
                <div class="sety__boxs">
                    <h1 class="sety__title">Zestaw</h1>
                    <img src="./images/dryzgyi.jpg" alt="" width="150">
        
                </div>
                <ul class="sety__list">
                    <li class="sety__item item-js product">
                        <img class="image-switch__img img" src="./images/clasychnuy.jpg" alt="" width="130">
                        <div class="sety__box">
                            <h2 class="sety-item__title title">Klasyczny<br>40 szt</h2>
                            <p class="menu__price">149 zl.</p>
                            <p class="sety__text">Philadelphia, California, Kioto, Tropika, Maki awokado.
                            </p>
                            <button class="corzina-btn">
                                <svg class="cap__corzina-svg-dod">
                                    <use class="icon-cross-dod" href="images/symbol-defs.svg#icon-cart"></use>
                                </svg>
                            </button>
                        </div>
    
                    </li>
                    <li class="sety__item item-js product">
                        <img class="image-switch__img img" src="./images/filadelfia.jpg" alt="" width="130">
                        <div class="sety__box">
                            <h2 class="sety-item__title title">Philadelphia<br>32 szt</h2>
                            <p class="menu__price">149 zl.</p>
                            <p class="sety__text">Philadelphia x2, Philadelphia Pre* x2.
                            </p>
                            <button class="corzina-btn">
                                <svg class="cap__corzina-svg-dod">
                                    <use class="icon-cross-dod" href="images/symbol-defs.svg#icon-cart"></use>
                                </svg>
                            </button>
                        </div>
    
                    </li>
                    <li class="sety__item item-js product">
                        <img class="image-switch__img img" src="./images/femeli.jpg" alt="" width="130">
                        <div class="sety__box">
                            <h2 class="sety-item__title title">"Family"<br>48 szt</h2>
                            <p class="menu__price">171 zl.</p>
                            <p class="sety__text">Philadelphia, Kampio, California, Tomagochi, Vege, Maki Łosoś.
                            </p>
                            <button class="corzina-btn">
                                <svg class="cap__corzina-svg-dod">
                                    <use class="icon-cross-dod" href="images/symbol-defs.svg#icon-cart"></use>
                                </svg>
                            </button>
                        </div>
    
                    </li>
                    <li class="sety__item item-js product">
                        <img class="image-switch__img img" src="./images/premium.jpg" alt="" width="130">
                        <div class="sety__box">
                            <h2 class="sety-item__title title">"Premium"<br>56 szt</h2>
                            <p class="menu__price">239 zl.</p>
                            <p class="sety__text">Ebi Rol, Bonito, Philadelphia, Premium, Vege, Wędzony Łosoś,
                                Tuna.
                            </p>
                            <button class="corzina-btn">
                                <svg class="cap__corzina-svg-dod">
                                    <use class="icon-cross-dod" href="images/symbol-defs.svg#icon-cart"></use>
                                </svg>
                            </button>
                        </div>
    
                    </li>
    
                    <li class="sety__item item-js product">
                        <img class="image-switch__img img" src="./images/Love-is.jpg" alt="" width="130">
                        <div class="sety__box">
                            <h2 class="sety-item__title title">"Love is"<br>48 szt</h2>
                            <p class="menu__price">201 zl.</p>
                            <p class="sety__text">Philadelphia x2, Tuna x2, California, Maki Mango.
                            </p>
                            <button class="corzina-btn">
                                <svg class="cap__corzina-svg-dod">
                                    <use class="icon-cross-dod" href="images/symbol-defs.svg#icon-cart"></use>
                                </svg>
                            </button>
                        </div>
    
    
                    </li>
                    <li class="sety__item item-js product">
                        <img class="image-switch__img img" src="./images/chornobaivka.jpg" alt="" width="130">
                        <div class="sety__box">
                            <h2 class="sety-item__title title">"Chornobaiwka"<br>40 szt</h2>
                            <p class="menu__price">159 zl.</p>
                            <p class="sety__text"> Tempura Zaki, Tempura Tuna, Fraj Ebi Futo, Fraj Kampio-Futo, Tempura
                                Łosoś.
                            </p>
                            <button class="corzina-btn">
                                <svg class="cap__corzina-svg-dod">
                                    <use class="icon-cross-dod" href="images/symbol-defs.svg#icon-cart"></use>
                                </svg>
                            </button>
                        </div>
    
                    </li>
                    <li class="sety__item item-js product">
                        <img class="image-switch__img img" src="./images/friends.jpg" alt="" width="130">
                        <div class="sety__box">
                            <h2 class="sety-item__title title">"Friends"<br>64 szt</h2>
                            <p class="menu__price">239 zl.</p>
                            <p class="sety__text">Philadelphia, Kioto, Bonito, California, Ebi Rolka, Vega, Maki Łosoś, Maki
                                Awokado.
                            </p>
                            <button class="corzina-btn">
                                <svg class="cap__corzina-svg-dod">
                                    <use class="icon-cross-dod" href="images/symbol-defs.svg#icon-cart"></use>
                                </svg>
                            </button>
                        </div>
    
                    </li>
                    <li class="sety__item item-js product">
                        <img class="image-switch__img img" src="./images/tu-taj-1.jpg" alt="" width="130">
                        <div class="sety__box">
                            <h2 class="sety-item__title title">"TU TAJ"<br>76 szt</h2>
                            <p class="menu__price">349 zl.</p>
                            <p class="sety__text">Філадельфія X2,
                                Philadelphia x2, Tuna x2, California x2, Ebi Rol, Krewetka, Maki Mango.
                            </p>
                            <button class="corzina-btn">
                                <svg class="cap__corzina-svg-dod">
                                    <use class="icon-cross-dod" href="images/symbol-defs.svg#icon-cart"></use>
                                </svg>
                            </button>
                        </div>
    
                    </li>
                    <li class="sety__item item-js product">
                        <img class="image-switch__img img" src="./images/maki-zestaw.jpeg" alt="" width="140">
                        <div class="sety__box">
                            <h2 class="sety-item__title title">"Maki"<br>34 szt (Dla 2 osób)</h2>
                            <p class="menu__price">75 zl.</p>
                            <p class="sety__text">maki z łososia,
                                mango maki,
                                maki z ogórków,
                                maki z awokado,
                                nigiri z łososiem,
                    
                            </p>
                            <button type="button" class="corzina-btn">
                                <svg class="cap__corzina-svg-dod">
                                    <use class="icon-cross-dod" href="images/symbol-defs.svg#icon-cart"></use>
                                </svg>
                            </button>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
    </div>
    
   