

    
    <div class="containers container js_set none">
        <section class="sety">
            <div class="sety__main-box">
                <div class="sety__boxs">
                    <h1 class="sety__title">СЕТИ</h1>
                    <img src="./images/dryzgyi.jpg" alt="" width="150">
        
                </div>
                <ul class="sety__list">
                    <li class="sety__item item-js product">
                        <img class="image-switch__img img" src="./images/clasychnuy.jpg" alt="" width="140">
                        <div class="sety__box">
                            <h2 class="sety-item__title title">Класичний<br>40 szt</h2>
                            <p class="menu__price">149 zl.</p>
                            <p class="sety__text">Філадельфія, Каліфорнія, Кіото, Тропіка, Макі авокадо.
                            </p>
                            <button type="button"  class="corzina-btn">
                                <svg class="cap__corzina-svg-dod">
                                    <use class="icon-cross-dod" href="images/symbol-defs.svg#icon-cart"></use>
                                </svg>
                            </button>
                            
                        </div>
                    </li>
                    <li class="sety__item  item-js product">
                        <img class="image-switch__img img" src="./images/filadelfia.jpg" alt="" width="140">
                        <div class="sety__box">
                            <h2 class="sety-item__title title">Філадельфія<br>32 szt</h2>
                            <p class="menu__price">149 zl.</p>
                            <p class="sety__text">Філадельфія X2, Філадельфія Преміум X2.
                            </p>
                            <button type="button" class="corzina-btn">
                                <svg class="cap__corzina-svg-dod">
                                    <use class="icon-cross-dod" href="images/symbol-defs.svg#icon-cart"></use>
                                </svg>
                            </button>
                        </div>
                    </li>
                    <li class="sety__item item-js product">
                        <img class="image-switch__img img" src="./images/femeli.jpg" alt="" width="140">
                        <div class="sety__box">
                            <h2 class="sety-item__title title">"Family"<br>48 szt</h2>
                            <p class="menu__price">171 zl.</p>
                            <p class="sety__text">Філадельфія, Кампіо, Каліфорнія, "Томагочі", Веган, Макі лосось.
                            </p>
                            <button type="button" class="corzina-btn">
                                <svg class="cap__corzina-svg-dod">
                                    <use class="icon-cross-dod" href="images/symbol-defs.svg#icon-cart"></use>
                                </svg>
                            </button>
                        </div>
                    </li>
                    <li class="sety__item item-js product">
                        <img class="image-switch__img img" src="./images/premium.jpg" alt="" width="140">
                        <div class="sety__box">
                            <h2 class="sety-item__title title">"Преміум"<br>56 szt</h2>
                            <p class="menu__price">239 zl.</p>
                            <p class="sety__text">Ебі Рол, Боніто, Філадельфія Преміум, Веган, Копчений Лосось,
                                Тунець.
                            </p>
                            <button type="button" class="corzina-btn">
                                <svg class="cap__corzina-svg-dod">
                                    <use class="icon-cross-dod" href="images/symbol-defs.svg#icon-cart"></use>
                                </svg>
                            </button>
                        </div>
                    </li>
                    <li class="sety__item item-js product">
                        <img class="image-switch__img img" src="./images/Love-is.jpg" alt="" width="140">
                        <div class="sety__box">
                            <h2 class="sety-item__title title">"Love is"<br>48 szt</h2>
                            <p class="menu__price">201 zl.</p>
                            <p class="sety__text">Філадельфія X2, Тунець X2, Каліфорнія, Макі манго
                            </p>
                            <button type="button" class="corzina-btn">
                                <svg class="cap__corzina-svg-dod">
                                    <use class="icon-cross-dod" href="images/symbol-defs.svg#icon-cart"></use>
                                </svg>
                            </button>
                        </div>
                    </li>
                    <li class="sety__item item-js product ">
                        <img class="image-switch__img img" src="./images/chornobaivka.jpg" alt="" width="140">
                        <div class="sety__box">
                            <h2 class="sety-item__title title">"Чорнобаївка"<br>40 szt</h2>
                            <p class="menu__price">159 zl.</p>
                            <p class="sety__text"> Темпура Закі, Темпура Туна, Фрай Ебі Футо, Фрай Кампіо-Футо, Темпура
                                Лосось.
                            </p>
                            <button type="button" class="corzina-btn">
                                <svg class="cap__corzina-svg-dod">
                                    <use class="icon-cross-dod" href="images/symbol-defs.svg#icon-cart"></use>
                                </svg>
                            </button>
                        </div>
                    </li>
                    <li class="sety__item item-js product">
                        <img class="image-switch__img img" class="image-switch__img img" src="./images/friends.jpg" alt="" width="140">
                        <div class="sety__box">
                            <h2 class="sety-item__title title">"Friends"<br>64 szt (на 4 особи)</h2>
                            <p class="menu__price">239 zl.</p>
                            <p class="sety__text">Філадельфія, Кіото, Боніто, Каліфорнія, Ебі Рол, Веган, Макі лосось, Макі
                                авокадо.
                            </p>
                            <button type="button" class="corzina-btn">
                                <svg class="cap__corzina-svg-dod">
                                    <use class="icon-cross-dod" href="images/symbol-defs.svg#icon-cart"></use>
                                </svg>
                            </button>
                        </div>
                    </li>
                    <li class="sety__item item-js product">
                        <img class="image-switch__img img" src="./images/tu-taj-1.jpg" alt="" width="140">
                        <div class="sety__box">
                            <h2 class="sety-item__title title">"TU TAJ"<br>76 szt</h2>
                            <p class="menu__price">349 zl.</p>
                            <p class="sety__text">Філадельфія X2,
                                Тунець X2,
                                Каліфорнія X2,
                                Ебі Рол,
                                Креветки,
                                Макі манго,
                        
                            </p>
                            <button type="button" class="corzina-btn">
                                <svg class="cap__corzina-svg-dod">
                                    <use class="icon-cross-dod" href="images/symbol-defs.svg#icon-cart"></use>
                                </svg>
                            </button>
                        </div>
                    </li>
                    <li class="sety__item item-js product">
                        <img class="image-switch__img img" src="./images/maki-zestaw.jpeg" alt="" width="140">
                        <div class="sety__box">
                            <h2 class="sety-item__title title">"Макі"<br>34 szt (на 2 особи)</h2>
                            <p class="menu__price">75 zl.</p>
                            <p class="sety__text">макі лосось,
                                макі манго,
                                макі огірок,
                                макі авокадо,
                                нігірі лосось,
                    
                            </p>
                            <button type="button" class="corzina-btn">
                                <svg class="cap__corzina-svg-dod">
                                    <use class="icon-cross-dod" href="images/symbol-defs.svg#icon-cart"></use>
                                </svg>
                            </button>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
    </div>
   
    