.drinks__item {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    &:not(:last-child) {
        border-bottom: 1px solid slategrey;
    }
    
}
.drinks__title {
   
    position: absolute;
    font-size: 35px;
    font-family: "Oswald";
    align-items: center;
    margin: 45px 0;
    background-color: none;
}
.drinks__boxs {
    display: flex;
    justify-content: center;
}
.menu__obuem {
    font-family: "Tapestry";
    font-size: small;
    color: whitesmoke;
    display: flex;
    align-items: baseline;
}
.drinks__item .img {
    height: 150px;
}